@import url("https://fonts.googleapis.com/css2?family=Anta&family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@900&family=REM:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

#backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

#addCardBtn {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.card {
  background-color: gray;
  border: 2px solid black;
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
}

.card header {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.card input {
  width: calc(100% - 22px);
  padding: 5px;
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card li {
  background-color: slategray;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}

.card li.dragging {
  opacity: 0.5;
}

.cancel-task {
  background-color: black;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 15px;
}
